<section class="input-section">
  <div class="container">
    <div class="input">
      <div class="left wrapper">
        <h1>
          Lorem ipsum dolor sit amet consectetur adipisicing elit
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          facere, nam vitae quo culpa odio id, doloribus quam molestiae quis
          quisquam laudantium. Voluptates facere aliquam, doloribus non repellat
          enim? Autem sunt ex est at ut a. Ex doloribus culpa neque sed illo
          eius, consectetur vitae, dicta modi harum, eum unde. At aliquam nobis
          in cupiditate officia. Non, quos expedita nulla cupiditate illo, ut
          tenetur amet cumque, itaque laudantium necessitatibus inventore!
        </p>
        <div class="example-wrapper">
          <div class="examlpe">
            <p class="example-inner">
              <span>Example:</span> 1: Input: s = "lee(t(c)o)de"
            </p>
            <p class="output"><span>Output:</span> "lee(t(c)o)de"</p>
            <p class="explanation">
              <span>Explanation:</span> "lee(t(co)de)" , "lee(t(c)ode)" would
              also be accepted.
            </p>
          </div>
        </div>
      </div>
      <div class="right wrapper">
        <textarea name="" id="" cols="100" rows="32">
  class Solution {
      public:
          string minRemoveToMakeValid(string s) {
              
          }
  };
          </textarea
        >
      </div>
    </div>
  </div>
</section>
